MONGO=your_mongodb_connection_string

GOOGLE_CLIENT_ID=your_google_oauth_client_id
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret

NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_URL=http://localhost:3000

STRIPE_SECRET_KEY=your_stripe_secret_key
PREMIUM_PRICE_ID=your_stripe_price_id_for_subscription
PRODUCT_PRICE_ID=your_stripe_price_id_for_one_time_purchase

NEXT_PUBLIC_IMAGEBB=your_imgbb_api_key
